{:paths ["src" "test"]

 :deps {}

 :aliases
 {:storm
  {:classpath-overrides {org.clojure/clojure nil}
   :extra-deps {com.github.flow-storm/clojure {:mvn/version "1.12.0-9"}}
   :jvm-opts ["-Dclojure.storm.instrumentEnable=true"
              "-Dclojure.storm.instrumentAutoPrefixes=false"
              "-Dclojure.storm.instrumentOnlyPrefixes=sample"]}

  :validate
  {:main-opts ["-m" "validate"]}

  ;; Run heretic coverage collection
  :heretic
  {:classpath-overrides {org.clojure/clojure nil}
   :extra-deps {com.github.flow-storm/clojure {:mvn/version "1.12.0-9"}
                com.github.flow-storm/flow-storm-dbg {:mvn/version "4.1.1"}
                ;; Heretic as local dep
                heretic/heretic {:local/root ".."}}
   :jvm-opts ["-Dclojure.storm.instrumentEnable=true"
              "-Dclojure.storm.instrumentAutoPrefixes=false"
              "-Dclojure.storm.instrumentOnlyPrefixes=sample"]}}}
